* {
  box-sizing: border-box;
}
body {
  margin: 0
}
header {
  margin: 20px auto;
}

.container {
  text-align: center;
}

.container h1 {
  text-transform: uppercase;
  margin: 0 auto;
  width: 500px;
  border-bottom: 1px solid black;
  font-size: 1.8rem;
}
.button-container {
  width: 500px;
  margin: 20px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 5px;
  height: 32px;
  width: 90px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.inputField {
  width: 100px;
  height: 20px;
  display: block;
  margin: 0 auto 10px;
  border-bottom: 1px solid black;
}
.inputButton {
  padding: 5px;
  width: 90px;
  height: 32px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.paraGraph {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid black;
  width: 500px;
}
.paraGraph--width {
  width: 100px;
  margin: 0;
}
form {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid lightgray;
  border-bottom: 1px solid black;
  padding: 5px;
  width: 90px;
  font-size: 11px;
  margin: 10px auto;
}
